{% extends "game/base.html" %}
{% load static %}
{% block head_canvas %}
<!-- <style>
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
.main {
    position:relative;
  }
</style> -->
{% endblock head_canvas %}

{% block requireJS %}
<script type="text/javascript" src="{% static "js/game.js" %}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/init.js" %}"></script>
{% endblock requireJS %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/game.css" %}">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock css %}

{% block game %}

<body onload="beforeStartGame({{user.id}})">
<p> </p><br><br>
<div class = "col s8 container">

	<div id="myfilter" class="myfilter"></div>
	<div id="myrestartbutton" class="myrestartbutton">
		<button onclick="restartGame({{user.id}})">Restart</button>
	</div>

	<div id="mybackhomebutton" class = "myrestartbutton">
		<button onclick="backhome({{user.id}})"> Go to home page </button>
	</div>

	<div id="mywinbutton" class = "myrestartbutton">
		<button onclick="backhome({{user.id}})"> You Win! </button>
	</div>


	<div id="canvascontainer"></div>
</div>
	<!-- <div class="col-sm-4">
  		<button ontouchstart="run()" onmousedown="run()" onmouseup="clearmove()">Run</button>
  		<br><br>
  		<button ontouchstart="jump()" onmousedown="jump()" onmouseup="clearmove()">Jump</button>
  		<br><br>
	</div> -->
<br>
{% endblock game %}